.card {
  overflow: hidden;
  width: 327px;
  height: auto;
  border-radius: 0.45rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;

  .img {
    background-image: url("../images/drawers.jpg");
    background-position: center;
    background-size: cover;
    height: 190px;
  }

  .text-container {
    padding: 35px;
    background-color: white;

    .text-para,
    .date {
      font-weight: 500;
    }

    .text-title,
    .name {
      color: $clr-dark-grayish-blue;
    }

    .title {
      font-weight: 700;
     
      .text-title {
        margin: 0;
      }
    }

    .text {
      font-weight: 500;
      margin-bottom: 30px;

      .text-para {
        color: $clr-desaturated-dark-blue;
      }
    }

    .profile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: -20px;

      img {
        border-radius: 50%;
      }

      .name-container {
        margin-left: -20px;
        .name, .date {
          margin: 0;
        }

        .name {
          font-weight: 700;
        }
        .date {
          margin-top: 5px;
          color: $clr-grayish-blue;
        }
      }

      .profile-face {
        width: 3rem;
        height: 3rem;
      }

      .icon-container {
        @extend %icon-shared;
      }
    } //end profile
  }
  // end text-container

  .social-icons {
    position: absolute;
    bottom: 0;
    // left: 0;
    width: 100%;
    // height: 80px;
    padding: 13px 0;
    transform: translateY(100%);
    transition: transform 0.3s linear;
    background-color: $clr-dark-grayish-blue;
    display: grid;

    .icons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .social-text {
        text-transform: uppercase;
        color: $clr-light-grayish-blue;
        letter-spacing: 3px;
        font-size: 15px;
      }
    }

    .icon-container {
      @extend %icon-shared;
      background: $clr-desaturated-dark-blue;
      margin-left: -10px;
    }

    &.fromBottom {
      transform: translateY(0);
    }
  } //end social icons
} //end card
