*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 13px;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: $manrope;

  background-color: $clr-light-grayish-blue;
}

main {
  display: grid;
  place-items: center;
  height: calc(100vh - 15.4px);
}

img {
  max-width: 100%;
}

%icon-shared {
  background-color: $clr-light-grayish-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;

  .icon {
    width: 15px;
    height: 13px;
  }
}


