@media (min-width: 900px) {
  .card,
  .text-container {
    display: flex;
  }

  .card {
    width: 730px;
    overflow: visible;

    .img {
      width: 100%;
      height: auto;
    }

    .text-container {
      flex-direction: column;

      .text {
        margin-bottom: 15px;

        .text-para {
          margin-bottom: 0;
        }
      }

      .profile {
        .name-container {
          margin-left: -140px;
        }

        .icon-container {
          position: relative;
          z-index: 2;

          &.changeBtnClr {
            background: $clr-dark-grayish-blue;
          }
        }
        svg path {
          &.changeIconClr {
            fill: #fff;
          }
        }
      }
    } //end text container

    .social-icons {
      opacity: 0;
      bottom: 84.2px;
      right: -69px;
      width: 248px;
      height: 55px;
      padding: 0 10px;
      border-radius: 10px;
      transition: transform 0.3s cubic-bezier(0.68, 0.31, 0.265, 1.55);

      &:after {
        position: absolute;
        content: "";
        width: 15px;
        height: 15px;
        background-color: $clr-dark-grayish-blue;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
      }

      img {
        width: 20px;
      }
      .icons {
        .social-text {
          font-size: 15px;
        }

        .closeBtn {
          display: none;
        }
      }

      &.fromBottom {
        opacity: 1;
      }
    } //end social-icons
  } //end card
}
