@media (min-width: 900px) {
  
  .card,
  .text-container {
    display: flex;
  }

  .card {
    width: 730px;
    overflow: visible;

    .img {
      width: 100%;
      height: auto;
    }

    .text-container {
      flex-direction: column;

      .profile {
        .name-container {
          margin-left: -140px;
        }
      }
    } //end text container

    .social-icons {
      opacity: 0;
      bottom: 80px;
      right: -70px;
      width: 248px;
      height: 67px;
      padding: 0;
      border-radius: 10px;
    // transition: all 0.3s linear;

     

      img{
        width: 15px;
      }

      .icons{
        .social-text{
          font-size: 10px;
        }

        .closeBtn{
          display: none;
        }
      }
      
      &:after{
        position: absolute;
        content: "";
        width: 15px;
        height: 15px;
        background-color: $clr-dark-grayish-blue;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
      }

      &.fromBottom{
        opacity: 1;
      }

    } //end social-icons
  } //end card
}
